*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    place-items: center;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
background-color: rgb(76, 175, 80);
color: white;
}

.nav-top{
    width: 100%;
        background-color: rgb(51, 51, 51);
}

.menu-top{
     display: flex;
    color: white;
    list-style: none;
}

.nav-list{
    padding: 1rem 1rem;
}

.submenu {
  display: none;
}

li:hover .submenu {
  display: block;
}