* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  place-items: center;
}

.container{
    height: 200px;
    width: 200px;
    display: flex;
    border: 2px red solid;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 40px;
    border: 2px blue solid;
}

.caja1{
    align-self: end;
}
.caja2{
    align-self:start;
}
.caja3{
    align-self: end;
}
.caja5{
    align-self: start;
}